<template>
  <div class="mt-10 sm:mt-0">
    <div class="md:grid md:grid-cols-5 md:gap-6">
      <div class="mt-5 md:mt-0 col-start-2 col-end-5">
        <div class="shadow overflow-hidden sm:rounded-md">
          <div class="px-6 py-15 bg-white">
            <input-base label="Crédito" v-model="credit" type="number" />

            <input-select-base
              label="Cantidad de cuotas"
              :options="installmentsOptions"
              v-model="installments"
            />

            <div class="my-2" v-if="installmentAmount">
              Importe de cuotas
              <p class="font-bold text-lg">
                {{ format(installmentAmount) }}
              </p>
            </div>
            <div class="my-2" v-if="pledgeExpenses">
              Gasto prendario
              <p class="font-bold text-lg">
                {{ format(pledgeExpenses) }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, computed } from 'vue';
import InputBase from './InputBase.vue';
import InputSelectBase from './InputSelectBase.vue';
import { Parser } from 'hot-formula-parser';
import { INSTALLMENT, PLEDGE } from '../helpers/formulas';

export default defineComponent({
  name: 'Card',
  components: {
    InputBase,
    InputSelectBase,
  },
  setup() {
    const credit = ref<number | undefined>();
    const installments = ref<number | undefined>();
    const installmentsOptions = Array.from({ length: 31 }, (_, i) => i + 6);

    const installmentAmount = computed(() => {
      const parser = new Parser();
      parser.setVariable('CREDITO', credit.value);
      parser.setVariable('CUOTAS', installments.value);

      if (credit.value && installments.value && installments.value > 0) {
        const persed = parser.parse(INSTALLMENT);
        if (!persed.error) {
          return Math.round(persed.result);
        }
      }
      return null;
    });

    const pledgeExpenses = computed(() => {
      const parser = new Parser();
      parser.setVariable('MONTO_CUOTA', installmentAmount.value);
      parser.setVariable('CUOTAS', installments.value);
      if (installmentAmount.value) {
        const persed = parser.parse(PLEDGE);
        if (!persed.error) {
          return Math.round(persed.result);
        }
      }
      return null;
    });

    const format = (value: number | null) => (value ? `$ ${value}` : '');

    return { credit, installments, installmentsOptions, installmentAmount, pledgeExpenses, format };
  },
});
</script>
