<template>
  <div class="my-5">
    <label class="block text-sm font-medium text-gray-700">
      {{ label }}
    </label>
    <select
      class="mt-1 block w-full py-2 px-3 pr-8 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm text-right"
      dir="rtl"
      :value="modelValue"
      @input="$emit('update:modelValue', $event.target.value)"
    >
      <option
        v-for="option in normalizedOptions"
        :key="option.value"
        :value="option.value"
      >
        {{ option.label }}
      </option>
    </select>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';

interface Option {
  value: string | number;
  label: string;
}

export default defineComponent({
  name: 'Input',
  props: {
    label: {
      type: String,
      default: '',
    },
    options: {
      type: Array as PropType<String[] | Number[] | Option[]>,
      default: [],
    },
    modelValue: {
      type: [String, Number, Object] as PropType<String | Number | Option | undefined>,
      required: true,
    },
  },
  computed: {
    normalizedOptions(): Option[] {
      return this.options.map(
        (o: String | Number | Option): Option =>
          typeof o === 'Object' ? o : { value: o, label: o },
      );
    },
  },
  setup() {
    return {};
  },
});
</script>

<style scoped></style>
