<template>
  <card-base />
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import CardBase from './components/CardBase.vue';

export default defineComponent({
  name: 'App',
  components: {
    CardBase,
  },
});
</script>

<style>
body {
  @apply bg-gray-100;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
